*.bak
*.build
*.csproj
*.csproj.user
*.db-journal
*.dll.build
*.DS_Store
*.hg
*.log
*.mdb
*.mdp
*.mds
*.pdb
*.StyleCop
*.suo
*.userprefs
*.VisualState.xml
*.vshost.*
*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/obj
*/*/*/*/*/*/bin
*/*/*/*/*/*/obj
*/*/*/*/*/bin
*/*/*/*/*/obj
*/*/*/*/bin
*/*/*/*/obj
*/*/*/bin
*/*/*/obj
*/*/bin
*/*/obj
*StyleCop.Cache
*~
.hgignore
.hgtags
.project
.settings

compile.*.bat
compile.bat
compilex64.vs2010.bat
debug/*
doxygen.error.log
Examples/*.dll
hgrc
Makefile.local
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TAGS
TestResult.xml
Universe.build
Universe.sln
Universe.sln.cache

# Addons

addon-modules/*/

# Binary

VirtualUniverse/bin/*.log
VirtualUniverse/bin/*/Universe.*.dll
VirtualUniverse/bin/.version
VirtualUniverse/bin/Universe.*.dll
VirtualUniverse/bin/Universe.*.exe
VirtualUniverse/bin/Universe.exe

# This is dependant upon x86/x64 and created at runtime
VirtualUniverse/bin/ode.dll

# 20170322 - Exclude LibOMV libraries that are now included in the build process
VirtualUniverse/bin/CSJ2K.dll
VirtualUniverse/bin/OpenMetaverse.dll
VirtualUniverse/bin/OpenMetaverse.StructuredData.dll
VirtualUniverse/bin/OpenMetaverseTypes.dll

# Data files

VirtualUniverse/Data/AssetCache/*
VirtualUniverse/Data/AvatarArchives/*
VirtualUniverse/Data/Banker.txt
VirtualUniverse/Data/FileAssets/*
VirtualUniverse/Data/Governor.txt
VirtualUniverse/Data/OarFiles/*
VirtualUniverse/Data/Marketplace.txt
VirtualUniverse/Data/RealEstate.txt
VirtualUniverse/Data/RegionBak/*.sim
VirtualUniverse/Data/Region/*.sim
VirtualUniverse/Data/ScriptEngines/*-*-*-*-*
VirtualUniverse/Data/ScriptEngines/*.dll
VirtualUniverse/Data/ScriptEngines/*/*.dll
VirtualUniverse/Data/ScriptEngines/*/*.state
VirtualUniverse/Data/SQLite/*.db
VirtualUniverse/Data/SystemEstate.txt
VirtualUniverse/Data/UserArchives/*

# Documentation

UniverseDocs/
