*.hg
.hgignore
.hgtags
hgrc

*.bak
*.build
#*.command
*.csproj
*.csproj.user
*.db-journal
#*.dll
*.dll.build
*.DS_Store
*.log
*.mdb
*.mdp
*.mds
*.pdb
*.pidb
*.userprefs
*.VisualState.xml
*.vshost.*
*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/obj
*/*/*/*/*/*/bin
*/*/*/*/*/*/obj
*/*/*/*/*/bin
*/*/*/*/*/obj
*/*/*/*/bin
*/*/*/*/obj
*/*/*/bin
*/*/*/obj
*/*/bin
*/*/obj
*~
.project
.settings
addon-modules/*/
VirtualUniverse.build
VirtualUniverse.sln
VirtualUniverse.sln.cache
VirtualUniverse.suo
VirtualUniverse.v11.suo
VirtualUniverse.v12.suo
VirtualUniverseDocs/doxygen/

VirtualUniversePlanets/Data/AssetCache/*
VirtualUniversePlanets/Data/Region/*.sim
VirtualUniversePlanets/Data/RegionBak/*.sim
VirtualUniversePlanets/Data/SQLite/*.db
VirtualUniversePlanets/Data/OarFiles/*

VirtualUniversePlanets/Data/ScriptEngines/*-*-*-*-*
VirtualUniversePlanets/Data/ScriptEngines/*.dll
VirtualUniversePlanets/Data/ScriptEngines/*/*.dll
VirtualUniversePlanets/Data/ScriptEngines/*/*.state
VirtualUniversePlanets/Data/RealEstateUser.txt

VirtualUniversePlanets/bin/*.log
VirtualUniversePlanets/bin/Planet.exe
VirtualUniversePlanets/bin/Planet.*.exe
VirtualUniversePlanets/bin/Planet.*.dll
VirtualUniversePlanets/bin/*/Planet.*.dll

#bin/*.abackup
#bin/*.db
#bin/*.dll
#bin/*.dll.mdb
#bin/*.exe
#bin/*.ini
#bin/*.ini.old
#bin/*.log
#bin/*.maddin
#bin/*.manifest
#bin/*.pdb
#bin/*.sim
#bin/.version
#bin/addin-db-*
#bin/assetcache
#bin/VirtualUniverse.version
#bin/crashes/
#bin/Debug/*.dll
#bin/DefaultInventory
#bin/solarsystem_settings.xml
#bin/Physics*
#bin/Planets/*
#bin/Terrain*
#bin/UserAssets
compile.*.bat
compile.bat
compilex64.vs2010.bat
doxygen.error.log
Examples/*.dll
Makefile.local
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TAGS
TestResult.xml
*StyleCop.Cache
*.StyleCop
debug/*
