

*.bak
*.build
#*.command
*.csproj
*.csproj.user
*.db-journal
#*.dll
*.dll.build
*.DS_Store
*.log
*.mdb
*.mdp
*.mds
*.pdb
*.pidb
*.userprefs
*.VisualState.xml
*.vshost.*
*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/obj
*/*/*/*/*/*/bin
*/*/*/*/*/*/obj
*/*/*/*/*/bin
*/*/*/*/*/obj
*/*/*/*/bin
*/*/*/*/obj
*/*/*/bin
*/*/*/obj
*/*/bin
*/*/obj
*~
.project
.settings
addon-modules/*/
Universe.build
Universe.sln
Universe.sln.cache
Universe.suo
Universe.v11.suo
Universe.v12.suo
Universe/doxygen/

VirtualUniverse/Data/AssetCache/*
VirtualUniverse/Data/FileAssets/*
VirtualUniverse/Data/Region/*.sim
VirtualUniverse/Data/RegionBak/*.sim
VirtualUniverse/Data/SQLite/*.db
VirtualUniverse/Data/OarFiles/*

VirtualUniverse/Data/ScriptEngines/*-*-*-*-*
VirtualUniverse/Data/ScriptEngines/*.dll
VirtualUniverse/Data/ScriptEngines/*/*.dll
VirtualUniverse/Data/ScriptEngines/*/*.state
VirtualUniverse/Data/RealEstateUser.txt
VirtualUniverse/Data/AvatarArchives/*
VirtualUniverse/Data/UserArchives/*
VirtualUniverse/Data/Governor.txt
VirtualUniverse/Data/SystemEstate.txt

VirtualUniverse/bin/*.log
VirtualUniverse/bin/.version
VirtualUniverse/bin/Universe.exe
VirtualUniverse/bin/Universe.*.exe
VirtualUniverse/bin/Universe.*.dll
VirtualUniverse/bin/*/Universe.*.dll

compile.*.bat
compile.bat
compilex64.vs2010.bat
doxygen.error.log
Examples/*.dll
Makefile.local
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TAGS
TestResult.xml
*StyleCop.Cache
*.StyleCop
